* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html {
    margin:0;
    padding:0;
    /* background-color: #dbdbdb;  */
    background-color: white;
    color:black;
    font-family: 'Courier New', Courier, monospace
}
/* HEADER */
.container {
    width:100%;
    height: auto;
    font-size: 13px;
    background-color:white;
}
.navMenu a {
    color: black;
}
.navMenu a:hover {
    outline: 1px solid black;
    color: #BB3FB0; 
}
#header button:hover {
    outline: 1px solid black;
    color: #BB3FB0; 
} 
/* LOGO */
.logo {
    display: block;
    position: absolute;
}
/* MAIN MENU */
.mainMenu {
    position: relative;
    margin: 0;
    border-bottom: 1px solid black;
}
/* COLUNM MENU */
.colunmMenu {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
/* ENTERNAV */
.enternav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #dbdbdb;
    color: black;
    font-size: 13px;
    outline: 1px solid black;
}
.enternav label {
    margin: 10px;
}
.enternav input {
    background-color:transparent;
    padding: 0; 
    border: 1px solid black;
    border-radius: 0;
    text-align: left;
}
.enternav input:hover {
    background-color: #BB3FB0;
}
.enternav input:focus {
    border-color: black;
    transition: 0.35s ease;
    color: white;
}
.enternav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 0.3s;
}
.enternavSpan:hover {
    outline: 1px solid black;
    color: #BB3FB0;
}
.enternav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}
.enternav a:hover {
    color: #BB3FB0;
}
  
.enternav .closebtnEnter {
    padding:10px;
    margin:0;
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}
/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
    color: black;
    font-size: 13px;
    outline: 1px solid black;
    background-color: #dbdbdb;
  }
.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 0.3s;
  }
.sidenavSpan:hover {
    outline: 1px solid black;
    color: #BB3FB0;
  }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #BB3FB0;
  }
  
.sidenav .closebtn {
    padding:10px;
    margin:0;
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}
/* SEARCH */
.search-container{
    width: 100%;
    display: block;
    background-color: transparent;
}
input#search-bar{
    text-align: right;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 13px;
    border: 1px solid #D0CFCE;
    outline: none;
    background-color: transparent;
}
#search-bar:focus{
    border: 1px solid black;
    transition: 0.35s ease;
    color:#BB3FB0;
}
#search-bar::-webkit-input-placeholder{
    transition: opacity 0.45s ease; 
    color: black;
}
#search-bar::-moz-placeholder {
    transition: opacity 0.45s ease; 
    opacity: 0;
}
#search-bar:-ms-placeholder {
    transition: opacity 0.45s ease; 
    opacity: 0;
}
/* MAIN  */
main {
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: auto;
}
main h1 {
    text-align: right;
    font-size:18px;  
}
/* CONTATO */
.contato h2 {
    font-size:14px;
}
.contato {
    height: auto;
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    text-align: right;
}
.contato label {
    margin: 10px;
}
.contato input, .contato textarea {
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
    text-align: right;
}
.contato input:focus, .contato textarea:focus {
    border-color: black;
    transition: 0.35s ease;
    color: white;
}
.contato input:hover, .contato textarea:hover {
    background-color:#BB3FB0;
}
button {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.contato .btn {
    text-align: right; 
    border: 1px solid black;
}
.contato .btn:hover {
    color:#BB3FB0;
}
.form-control {
    color:#BB3FB0;
}
.contato option {
    width:100%;
    text-align: right;
    display:block;
}
/* SOBRE */
.sobre {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}
.sobre:hover {
    outline: 1px solid black;
    height: auto;
}
.sobre h2 {
    font-size: 14px;
    text-align: center;
}
.sobre h2:hover {
    text-shadow: 2px 70px 2px #BB3FB0;
    position: relative;
    word-wrap: break-word;
    overflow: scroll;
}

/* CADASTRO */
.cadastro {
    height: auto;
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    text-align: right;
}
.cadastro p {
   margin:20px;
}
.cadastro label {
    margin: 10px;
}
.cadastro input, .cadastro textarea {
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 0;
    text-align: right;
}
.cadastro input:hover, .cadastro textarea:hover {
    background-color:#BB3FB0;
}
.cadastro input:focus, .cadastro textarea:focus {
    border-color: black;
    transition: 0.35s ease;
    color: black;
}
.cadastro .btn {
    text-align: right; 
    border: 1px solid black;
}
.cadastro .btn:hover {
    color:#BB3FB0;
}
.cadastro #login {
    border-right: 1px solid black;
}
.cadastro section, .cadastro aside {
    padding:0px;
}
/* SHOPLIST */
.shopList {
    width: 100%;
}
.shopList .row{
    border:none;
    background-color: aquamarine;
}
.shoplist .container {
    width:100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* align-items: center; */
}
.shopList a {
    color: black;
}
.shopList a:hover {
    color: #BB3FB0;
}
.shopList .thumbnail {
    outline: 1px black solid;
    max-width: 400px;
    min-width: 200px;
    justify-items: center;
    justify-items: center;
}
.shopList .thumbnail img {
    max-width: 400px;
    align-self: center;
}
.productItem .description {
    text-align: center;
}
/* ITEM */
.item img {
    max-width: 500px;
    min-width: 200px;
}
.itemDescription {
    outline: 1px solid black;
}
.addCart {
    outline:1px solid black;
}
.addCart:hover {
    color: #BB3FB0;
}
.col-6 {
    padding:0;
}
/* FAQ */
.navFaq a {
    color: black;
}
.navFaq a:hover {
    color: #BB3FB0; 
}
/* FOOTER */
footer {
    border: 1px solid black;
}
footer a {
    color: black;
}
footer a:hover {
    color: #BB3FB0;
}
/* MARQUEE */
marquee {
    background-color: transparent;
    color: black;
    height: auto;
    padding:0;
    margin: 0;
}

/* QUERIES  */
/* ALTERACOES DESKTOP*/
@media (min-width: 970px) {
    /* HEADER */
    .container {
        max-width: 100%;
    }
    .navMobile {
        display:none;
    }
    
}
/* ALTERACOES TABLET*/
@media (min-width: 756px) and (max-width: 969px) {
    /* HEADER */
    .container {
        height: 500px;
    }
    .logo img {
         width: 250px;
    }
    .navMenu #desktop {
         display:none;
    }
 }

@media (min-width: 650px) and (max-width: 755px) {
    /* HEADER */
    .container {
       height: 500px;
       border: none;
    }
    .logo img {
        width: 250px;
    }
    .navMenu #desktop {
        display:none;
    }
}
/* ALTERACOES MOBILE*/
@media (min-width: 345px) and (max-width: 649px) {
    /* HEADER */
    .container {
        height: 100%;
    }
    .logo img {
        width: 180px;
    }
    .navMenu #desktop {
        display:none;
    }
    /* FOOTER */
}
@media (max-width: 345px) {
    /* HEADER */
    .container {
        height: 100%;
    }
    .logo img {
        width: 150px;
    }
    .navMenu #desktop {
        display:none;
    } 
}